name: "Deploy to Cloud Foundry"
description: "Logs into Cloud Foundry and deploys the application"
inputs:
  CF_API:
    description: "Cloud Foundry API endpoint"
    required: true
  CF_USERNAME:
    description: "Cloud Foundry username"
    required: true
  CF_PASSWORD:
    description: "Cloud Foundry password"
    required: true
  CF_ORG:
    description: "Cloud Foundry organization"
    required: true
  CF_SPACE:
    description: "Cloud Foundry space"
    required: true
  CF_APP_NAME:
    description: "Cloud Foundry application name"
    required: true
runs:
  using: "composite"
  steps:
    - name: Install dependencies
      shell: bash
      run: |
        sudo apt-get update && sudo apt-get install -y libc6

    - name: Installing Cloud Foundry CLI
      shell: bash
      run: |
        sudo apt-get update
        sudo apt-get install -y wget tar

    - name:  Download and install CF CLI (latest version)
      shell: bash
      run: |
        wget "https://packages.cloudfoundry.org/stable?release=linux64-binary&version=8.9.0&source=github-rel" -O cf-cli.tar.gz
        tar -xvzf cf-cli.tar.gz

    - name:  Move the cf binary to /usr/local/bin
      shell: bash
      run: |
        sudo mv cf /usr/local/bin
        sudo mv cf8 /usr/local/bin/

    - name: Verify installation
      shell: bash
      run: |
        cf --version

    - name: Authenticate with Cloud Foundry
      shell: bash
      run: |
        echo "::debug::CF_API=${{ inputs.CF_API }}"
        cf login -a ${{ inputs.CF_API }} -u ${{ inputs.CF_USERNAME }} -p ${{ inputs.CF_PASSWORD }} -o ${{ inputs.CF_ORG }} -s ${{ inputs.CF_SPACE }}

    - name: Install Multi-Target Application Build Tool (MBT)
      shell: bash
      run: |
        npm install -g mbt

    - name: Check if mta.yaml Exists
      shell: bash
      working-directory: incidents-app
      run: |
        test -f mta.yaml && echo "✅ mta.yaml found!" || echo "⚠️ WARNING: mta.yaml NOT found!"
    
    - name: Build MTA archive
      shell: bash
      run:  |
        cd incidents-app
        ls -la
        mbt build -t gen --mtar mta.tar

    - name: Install Cloud Foundry MultiApps Plugin
      shell: bash
      run: |
        cf install-plugin -f https://github.com/cloudfoundry-incubator/multiapps-cli-plugin/releases/latest/download/multiapps-plugin.linux64
        cf plugins  # Verify installation

    - name: Undeploy existing app if exists
      shell: bash
      run: |
        echo "y" | cf undeploy incidents-testing --delete-services --delete-service-keys || echo "App not found or undeploy failed"

    - name: Deploy to Cloud Foundry
      shell: bash
      run: |
        cd incidents-app
        cf deploy gen/mta.tar -f